body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
::selection {
  background: #cd2c2f;
}
::-webkit-scrollbar{
  width: 6px;
  background:black;
}
::-webkit-scrollbar-thumb{
  background: rgba(157, 157, 157, 0.45);
}
