.about_containers {
    display: flex;
    justify-content: center;
}
.computer_all_details {
    padding-top: 7%;
}
.pc_name {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}
.pc_name h2 {
    color: white;
    text-shadow: 0px 1px 40px white;
    text-align: center;
    font-family: 'sans-serif',FreeMono;
}
.computer_details {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.69) 100%);
    display: flex;
    margin-top: 20px;
}
.pc_image {
    width: 320px;
}
.pc_image img {
    width: 330px;
}
.block_1 , .block_2 , .block_3{
    padding-top: 10px;
    display: flex;
}
.pc_cpu , .pc_gpu ,
.pc_board , .pc_ram ,
.pc_power , .pc_cooler ,
.pc_monitor , .pc_box ,
.pc_ssd , .pc_hdd,
.pc_warranty , .pc_price{
    width: 230px;
    display: flex;
    margin-left: 20px;
}
.pc_cpu img , .pc_gpu img ,
.pc_ram img , .pc_board img ,
.pc_power img , .pc_cooler img ,
.pc_monitor img , .pc_ssd img ,
.pc_box img , .pc_hdd img,
.pc_warranty img, .pc_price img{
    width: 60px;
    margin-top: 20px;
    margin-left: 10px;
    height: 60px;
}
.detail_name {
    color: rgba(190, 190, 190, 0.65);
    font-family: sans-serif;
    font-size: 16px;
    width: 150px;
    margin-left: 20px;
    text-transform: capitalize;
}
.detail_info {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    width: 160px;
    margin-left: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
.price_info {
    color: white;
    font-family: 'sans-serif',FreeMono;
    font-size: 18px;
    width: 160px;
    margin-left: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
.edit_and_sold {
    display: flex;
    justify-content: center;
    height: 120px;
}
.back_btn {
    display: flex;
    justify-content: space-around;
}
.back , .buy{
    width: 35%;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'sans-serif',FreeMono;
    cursor: pointer;
    margin-top: 5%;
    transition: all 0.5s;
    outline: none;
}
.sold , .edit{
    width: 30%;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'sans-serif',FreeMono;
    cursor: pointer;
    margin-top: 5%;
    transition: all 0.5s;
    margin-left: 1%;
    outline: none;
}
.back:hover {
    background: white;
    color: black;
    box-shadow: 0px 0px 30px white;
}
.sold:hover , .buy:hover{
    background: rgba(0,59,26,0.79);
    box-shadow:0 0 20px greenyellow;
}
.edit:hover {
    background: #bc9700;
    box-shadow: 0 0 20px yellowgreen;
}
.rebate {
    display: flex;
}
.rebate p {
    width: 200px;
    color: white;
    text-transform: capitalize;
    font-family: 'sans-serif',FreeMono;
    font-size: 20px;
}
.rebate_price {
    width: 60%;
    margin-left: 20%;
    height: 30px;
    background: rgba(0, 0, 0, 0.91);
    border: 0;
    border-bottom: 2px solid transparent;
    margin-top: 15px;
    outline: none;
    border-radius: 0;
    padding-left: 5px;
    font-size: 15px;
    color: white;
}
.rebate_price:focus {
    border-bottom: 2px solid white;
}
.title_buy {
    font-family: 'sans-serif';
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #d4f1ff;
}
.us_number p {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.12em;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.or {
    font-family: 'sans-serif';
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #d4f1ff;
}
.request_btn , .close_byModal{
    width: 40%;
    background: transparent;
    border: 2px solid white;
    color: white;
    height: 30px;
    font-family: 'monospace';
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}
.request_btn:hover {
    background: #9cdbff;
    color: black;
    box-shadow: 0 0 15px #9cdbff;
}
.close_byModal:hover {
    background: white;
    box-shadow: 0 0 15px white;
    color: black;
}
.feedback_btns {
    display: flex;
    justify-content: space-around;
}
.details_info_2 {
    display: none;
}