footer {
    background: #0e0e0e;
    height: 80px;
}
footer p {
    margin: 0px;
    color: white;
    text-transform: capitalize;
    font-family: 'sans-serif' , FreeMono;
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
    text-shadow: 1px 1px 40px white;
}