.NotFeedbackContainer {
    background: url('../../Components/Images/ComputersBackground.jpg')100% 100% no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.reviewsKeysTables {
    padding-top: 80px;
    padding-bottom: 30px;
}
.NotFeedbackContainer table {
    width: 80%;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.62);
}
.NotFeedbackContainer td{
    border: 1px solid #9c9c9c;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    color: #ababab;
    font-family: 'monospace';
}
.title_reviewsKeys {
    text-align: center;
    color: white;
    font-family: 'monospace';
    font-size: 22px;
}